body{
    background-color: chartreuse;
    display: grid;
    grid-template-areas: 
    "cab cab cab"
    "asa pri pri"
    "rod rod rod";
    grid-template-columns: 200px auto auto;
    grid-template-rows: auto auto auto ;
}


header{
    background-color: blue;
    grid-area: cab;
}
main{
    grid-area: pri;
    background-color: deeppink;
}

footer{
    grid-area: rod;
    background-color: brown;
}
aside{ 
    grid-area: asa;
    background-color: blueviolet;
}

.caixamae{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    border: 2px red solid;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.card img{
    width: 180px;
}